<p>Xin chào, {{ name }}</p>
<p></p>
<p>Chúng tôi nhận được yêu cầu thiết lập mật khẩu đăng nhập mới cho tài khoản Ứng dụng trò chuyện của bạn. Vui lòng nhập
    mã OTP bên dưới để đặt lại mật khẩu.</p>
<p></p>
<p style="font-size: 50px; color: red">{{code}}</p>
<p></p>
<p>Mã OTP có giá trị trong 5 phút. Lưu ý: Không chia sẻ mã này với bất kỳ ai, kể cả nhân viên Ứng dụng trò chuyện.</p>